.login {
  width: 100%;
  height: 100vh;
  background: #c9d6ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, rgb(201, 214, 255), rgb(226, 226, 226)); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgb(201, 214, 255), rgb(226, 226, 226)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  &-box {
    max-width: 600px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
  }
}